:root {
  --white: #d1d8e0;
  --gray: #a5b1c2;
  --black: #30383e;
  --red: #fc5c65;
  --green: #26de81;
  --dark-green: #20bf6b;
  --concrete-gray: #AEA9A0;
  --blue: #4b7bec;
  --orange: #fd9644;
  --very-light-green: #D8F0D8;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--white);
}

button {
  border: 3px solid var(--blue);
  margin: 5px;
  width: 50%;
  height: 48px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 18px;
}

#arena {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 750px;
  width: 100%;
  border: 5px solid var(--black);
  border-radius: 10px;
  padding-bottom: 25px;
}

#fight {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  background-image: url('/assets/icmc.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 56vh;
}

.grass {
  width: 75%;
  height: 50px;
  background-color: var(--concrete-gray);
  border: 2px solid var(--black);
  border-radius: 100%;
  position: relative;
  top: -25px;
}

#mello {
  width: 200px;
  padding: 0 20px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#mello-sprite {
  position: relative;
  left: 10px;
  z-index: 1;
  width: inherit;
}

#opponent-health-bar {
  width: 100%;
  height: 10px;
  background-color: var(--red);
  border: 3px solid var(--black);
  margin: 5px;
}

#opponent-health {
  width: inherit;
  height: 100%;
  background-color: var(--green);
  transition: 1000ms;
}

#simoes {
 width: 150px;
 padding: 0 20px;
}

#simoes-sprite {
  position: relative;
  z-index: 1;
  width: inherit;
}

#player-health-bar {
  width: 100%;
  height: 10px;
  background-color: var(--red);
  border: 3px solid var(--black);
  margin: 5px;
}

#player-health {
  width: inherit;
  height: inherit;
  background-color: var(--green);
  transition: 1000ms;
}

#text {
  text-align: center;
  font-size: 15px;
  margin: 0;
}

#options {
  background-color: var(--orange);
  margin-bottom: 16px;
  padding: 16px 25px;
}

.row {
  display: flex;
}

.row-evolve {
  display: none;
}

#restauracao-sistematica-button, #fonte-onipotente-button {
  color: var(--red);
}
